


/* courses-subjects section */


.unit-subjects a{
	text-decoration: none;
	color: #2caebf;
	font-size: 15px;
}

.unit-subjects a:hover{
	color: #087d8c;
}


.unit-subject{
	color: #0f7c90;
	background-color: white;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	height: 50px;
	width: 100%;
	font-weight: bold;
	font-size: 15px;
	margin-top: 10px;
}

.unit-subject:hover{
	color: #0c6170;
}






/* end of courses-subjects section */





/* courses-slide section */



.courses-slide{
	margin-top: 50px;
}



.unit-title{
	margin-top: 20px;
	margin-bottom: 20px;
}


.unit-title h2{
	font-size: 25px;
	font-weight: bold;
	color: #3c3b37;
}



.course-card-image img{
	width: 100%;
}


.course-card-main .course-card-title{
	font-weight: bold;
	font-size: 14px;
	color: #3c3b37;
	margin-top: 8px;
}

.course-card-main .course-card-instructor{
	font-size: 12px;
	color: #595959;
	margin-top: 2px;
	margin-bottom: 2px; 
}


.course-card-points{
	color: #c96100;
	font-weight: bold;
}

.course-card-stars i{
	color: #ff962e;
	font-size: 13px;
}

.course-card-students{
	font-size: 13px;
	color: #595959;
}



.course-card-price{
	display: flex;
}

.course-card-price h2{
	font-weight: bold;
	font-size: 15px;
	color: #3c3b37;
	margin-top: 5px;
}


.course-card-price del{
	margin-top: 3px;
	margin-left: 10px;
	font-size: 14px;
	color: #595959;
}

.owl-carousel-style .owl-nav .owl-prev, .owl-carousel-style .owl-nav .owl-next {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.owl-carousel-style .owl-nav .owl-prev span, .owl-carousel-style .owl-nav .owl-next span{
	color: #0f7c90 !important;
	font-size: 30px;
	margin-bottom: 4px;
	font-weight: 600;

}

.owl-carousel-style .owl-nav .owl-prev:hover span, .owl-carousel-style .owl-nav .owl-next:hover span{
	color: #094c59 !important;
	transition: all .3s ease;
}




.owl-carousel-style .owl-nav .owl-next{
	right: -22px;
	font-size: 17px;
	width: 45px;
	height: 45px;
	top: 22%;
	position: absolute;
	line-height: 44px;
	text-align: center;
	margin: 0;
	background-color: white !important;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
	opacity: 1;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.owl-carousel-style .owl-nav .owl-prev{
	left: -22px;
	font-size: 17px;
	width: 45px;
	height: 45px;
	top: 22%;
	position: absolute;
	line-height: 44px;
	text-align: center;
	margin: 0;
	background-color: white !important;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
	opacity: 1;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}


.owl-carousel .disabled{
	display: none !important;
}




/* end of courses-slide section */




