/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.categories-name-ul li{
    margin-right: 20px;
    white-space: nowrap;
}

.categories-name-ul{
    height: 45px;
}

.more-categories-info ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}

.more-categories{
    position: relative;
    cursor: pointer;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 10px;
}

.more-categories-info{
    position: absolute;
    width: 230px;
    background: white;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
            box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
    border-radius: 5px;
    top: 45px;
    z-index: 2;
    padding: 10px 20px;
    text-align: center;
    right: 0;
    display: none;
}

.more-categories:hover .more-categories-info{
    display: block;
}

.category-namee{
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
            box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);

}

.popular-topic-category li{
    margin-right: 15px;
}

.popular-topic-category li a{
    font-size: 16px;
    display: block;
}

.popular-topic-category .active-li-a{
    font-weight: bold;
    border-bottom: 2px solid #3c3b37;
}
.popular-topic-category li:last-of-type{
    margin-right: 0px;
}

.popular-topic-category ul{
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.course-advice{
    font-size: 14px;
}

.text-style{
    font-size: 12px;
    color: #595959;
}

.owl-carousel-most-view .owl-nav .owl-prev, .owl-carousel-most-view .owl-nav .owl-next {
    top: 18%!important;
}

.owl-carousel-advice-topic .owl-nav .owl-next, .owl-carousel-advice-topic .owl-nav .owl-prev {
    top: 29% !important;
}

.tutor-name{
    color: #0f7c90;
    font-size: 14px;
    font-weight: bold;
}

.tutor-lesson{
    font-size: 14px;
    font-weight: bold;
}

.tutor-point{
    color: #c96100;
    font-size: 13px;
}

.tutor-students{
    font-size: 13px;
}

.tutor-students span{
    font-weight: bold;
}

.tutor-course{
    font-size: 13px;
}

.tutor-course span{
    font-weight: bold;
}

.button-filter{
    position: relative;
    font-size: 16px;
    height: 47px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 98px;
    padding: 0px 10px;
    color: #0f7c90;
    background-color: transparent;
    border: 1px solid #2896a9;
    border-radius: 4px;
}

.filter-course{
    position: relative;
    font-size: 16px;
    height: 47px;
    -webkit-box-align: center;
    display: flex;
    min-width: 98px;
    padding: 0px 10px;
    color: #73726c;
    border-color: #989586;
    border: 1px solid #989586;
    border-radius: 4px;
    appearance: none;
    width: 100%;
    min-width: 185px;
}

.button-filter button{
    border: none;
    background: white;
    color: #0f7c90;
    font-weight: bold;
}

.filter-course select{
    background: white;
    border: none;
    padding: 0px 10px;
    height: 100%;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.filter-course{
    padding: 0px !important;
}

.select-iconn{
    width: 40px;
    pointer-events: none;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0px 4px;
    right: 0;
    justify-content: center;
}

.select-iconn svg{
    color: #73726c;
    width: 20px;
    height: 20px;
    fill: currentColor;
    display: inline-block;
    flex-shrink: 0;
}


.count-coursee{
    color: #73726c;
    font-size: 16px;
    font-weight: bold;
}

.left-side-filter-ul li{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #3c3b37 !important;
    font-weight: bold;
    font-size: 19px;
    padding: 18px 0px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.left-side-filter-ul li:last-of-type{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.left-side-filter-ul{
    padding-right: 40px;
}

.left-side-filter-ul .for-star{
    font-size: 10px !important;
}

.left-side-filter-ul .fa-angle-down-transform{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.left-side-filter-ul .fa-angle-down{
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    -o-transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.left-side-filter-list{
    cursor: pointer;
}

.left-side-filter{
    overflow: hidden;
    -webkit-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

.left-side-filter-none{
    max-width: 0% !important;
    -webkit-box-flex: 0% !important;
        -ms-flex: 0% !important;
            flex: 0% !important;
}

.right-side-courses{
    padding-bottom: 20px;
    border-bottom:1px solid rgba(0,0,0,.1)
}

.right-side-filter-block{
    padding: 0px !important;
    max-width: 100% !important;
    -webkit-box-flex: 100% !important;
        -ms-flex: 100% !important;
            flex: 100% !important;
}

.right-side-filter{
    -webkit-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

.right-side-filter .right-side-courses:first-of-type{
    padding-top: 0px;
}

.right-side-filter .right-side-courses{
    padding-top: 20px;
}

.right-side-filter .right-side-courses:last-of-type{
    border: none;
}

.pagination_wrapper{
    width: 100%;
    text-align: center;
}

.pagination_wrapper .pagination_ul{
    padding-left: 0;
    margin-top: 20px;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pagination-arrow-list a{
    color: #0f7c90;
    background-color: transparent;
    border: 1px solid #2896a9;
    border-radius: 50%;
    padding: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.pagination-arrow-list a i{
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.pagination_ul li{
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.pagination_ul li a{
    color: #0f7c90;
    font-weight: bold;
}

.active_page a{
    color: #094c59 !important;
    border-bottom: 2px solid #094c59;
}

.right-side-filter .course-card-price{
    margin-top: 10px;
}

.exit-icon-left-side-filter{
    display: none;
}

.button-filter-mobile{
    display:none;
}

.count-coursee-mobile{
    display:none;
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
            box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
    padding:0px 10px;
}

.count-coursee-mobile span{
    font-size:16px;
}

.submit-filter-mobile{
    display:none;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 2px 40px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
            box-shadow: 0 2px 40px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
    padding:16px;
}

.submit-filter{
    color: white !important;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #0f7c90;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5px;
    padding: 10px 0px;
    margin-top: 5px;
    font-weight: bold !important;
}

.submit-filter:hover{
    color: #fff !important;
    background-color: #094c59 !important;
}

.top-category-name{
    min-height: 76px;
    padding: 16px;
    color: #3c3b37;
    font-size:19px;
    font-weight: bold;
}

.top-category{
    border: 1px solid #dcdacb;
    border-radius: 4px;
    width: 100%;
}

.top-categories-col{
    margin: 0 16px 16px 0;
    max-width: calc(100%/4 - 12px);
}

.top-categories .top-categories-col:nth-of-type(4n){
    margin: 0 0px 16px 0 
}

.mobile-top-category-name{
    margin: 8px 0 0 8px;
    border-radius: 9999px !important;
    min-width: 40px;
    color: #0f7c90;
    background-color: transparent;
    border: 1px solid #2896a9 !important;
    height: 48px;
    position: relative;
    align-items: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    min-width: 100px;
    padding: 0 12px;
    justify-content: center;
    user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
    font-weight: bold;
    font-size: 16px;
}

.mobile-top-category-name:hover{
    color: #094c59;
}

.mobile-top-categories{
    display: none;
}

.featured-topic-name{
    margin-bottom: 24px !important;
    font-size: 16px;
    font-weight: bold;
}

.trending-topic{
    height: 64px;
}

.trending-topic-name{
    font-size: 16px;
    color: #0f7c90;
    text-decoration: none;
    font-weight: 700;
}

.trending-topic-name:hover{
    color: #094c59 !important;
}

.trending-topic-count{
    font-size: 14px;
    color: #73726c;
    margin-top: 8px;
}

.featured-topics-col{
    width: calc(100%/4 - 16px);
}

.trending-topic+.trending-topic{
    margin-top: 24px;
}

.become-instructor{
    margin-top: 48px;
}

.become-instructor-img{
    margin-right: 96px;
    display: block;
    box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
    height: 400px;
    width: 400px;
}

.become-instructor-page{
    max-width: 400px;
    text-align: left;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.become-instructor-page h3{
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 700;
}

.become-instructor-page p{
    font-size: 19px;
    margin-bottom: 16px;
}

.next-page-instructor a{
    width: unset;
    background-color: #0f7c90;
    color: #fff;
    height: 48px;
    position: relative;
    align-items: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    min-width: 100px;
    padding: 0 12px;
    justify-content: center;
    user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
    font-weight: bold;
}

.next-page-instructor a:hover{
    background-color: #094c59 !important;
    color: #fff !important;
}

.partnerss{
    margin-top: 48px;
    border-top: 1px solid #dcdacb;
    border-bottom: 1px solid #dcdacb;
}

.la-partners{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    padding: 32px;
    width: 100%;
    max-width: 1340px;
    margin-right: auto;
    margin-left: auto;
}
.la-partners h3{
    margin-top: 0;
    margin-bottom: 16px;
    max-width: 100%;
    font-size:24px;
    font-weight: 700;
}

.login-section,.signup-section{
    border-radius: 6px;
    color: #29303b;
    width: 380px;
    margin: 24px auto;
    max-width: 100%;
}

.login-header,.signup-header{
    border-bottom: solid 1px #dedfe0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #29303b;
    display: block;
    font-weight: 700;
    font-size: 15px;
    padding: 24px 64px 24px 24px;
}

.form-input{
    margin-bottom: 8px;
    position: relative;
}

.form-input input{
    border-radius: 5px !important;
    color: #29303b;
    font-size: 18px;
    height: auto;
    padding: 11px 45px 12px 40px;
    display: block;
    width: 100%;
    line-height: 1.43;
    background-color: #fff;
    background-image: none;
    border: 1px solid #8a92a3;
    border-radius: 2px;
    box-shadow: none;
    transition: border-color ease-in-out .08s,box-shadow ease-in-out .08s;
}

.login-content,.signup-content{
    padding: 24px 24px 16px;
}

.envelope-icon,.lock-icon,.user-icon{
    width: 36px;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0 8px;
    left: 0;
    justify-content: center;
}

.form-actions{
    margin: 0 0 16px;
}

.submit-button{
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    margin-bottom: 16px;
    width: 100%;
    -webkit-appearance: button;
    cursor: pointer;
    color: #fff;
    background-color: #ec5252;
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 11px 12px;
    line-height: 1.35135;
    border-radius: 2px;
    user-select: none;
}

.forgot-password{
    color: #007791;
    background-color: transparent;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px;
}

.login-not-account{
    display: block;
    padding: 0 0 24px;
    text-align: center;
    font-size: 15px;
}

.sign-link{
    color: #007791;
    background-color: transparent;
    font-weight: 700;
    text-decoration: none;
}

@media (max-width: 1000px){
    .category-namee{
        display: none;
    }
    .right-side-filter{
        max-width: 100%;
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
        padding: 0px !important;
    }
    .left-side-filter-ul{
        padding:10px !important;
        height: calc(100% - 130px);
        overflow:scroll;
    }
    .left-side-filter{
        position: fixed;
        z-index: 1011;
        top: 0;
        background: white;
        -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
                box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
        width: 270px;
        right: -330px;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        height: 100%;
        overflow-y: hidden;
        max-width: 270px;
        -webkit-box-flex:270px;
            -ms-flex:270px;
                flex:270px;
    }
    .exit-icon-left-side-filter{
        position: fixed;
        top: 17px;
        right: -45px;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        background: white;
        padding: 12px 15px;
        border-radius: 50%;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .button-filter-mobile{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }
    .button-filter-desktop{
        display:none;
    }
    .count-coursee-mobile{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }
    .submit-filter-mobile{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    }
    .count-coursee{
        display: none;
    }

    .become-instructor-img{
        display: none;
    }

    .become-instructor-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 48px 24px;
        width: 100%;
        align-items: center;
        max-width: none;
    }
    .become-instructor-page p{
        max-width: 600px;
    }
}


@media (min-width: 768px){
    .owl-carousel-most-view .owl-nav .owl-prev, .owl-carousel-most-view .owl-nav .owl-next {
        top: calc(50% - 40px) !important;
    }
    .owl-carousel-most-view .item{
        padding: 10px;
        border:1px solid rgba(0,0,0,.1);
    }
    .owl-carousel-most-view .course-card-price{
        position: absolute;
    }
}

@media (max-width: 767px){
    .owl-carousel-most-view .course-card-image{
        padding: 0px;
    }
    .owl-carousel-most-view .course-card-main{
        padding: 0px;
    }
}

@media (max-width: 700px){
    .top-categories-col{
        margin: 0 16px 16px 0;
        max-width: calc(100%/3 - 12px);
    }
    .top-categories .top-categories-col:nth-of-type(4n){
        margin: 0 16px 16px 0 
    }
    .top-categories .top-categories-col:nth-of-type(3n){
        margin: 0 0px 16px 0 
    }
    .trending-topic-name{
        font-size: 14px;
    }
    .trending-topic-count{
        font-size: 12px;
    }
}

@media (max-width:650px){
    .featured-topics-col{
        display: inline-block;
        margin-bottom: 24px;
        padding-right: 8px;
        width: 50%;
    }
    .next-page-instructor a{
        width: 100%;
    }
    .next-page-instructor{
        width: 100%;
    }
    .become-instructor-page p{
        text-align: left;
    }
}

@media (max-width: 600px){
    .desktop-top-categories{
        display: none;
    }
    .mobile-top-categories{
        display: flex;
        flex-wrap: wrap;
    }


}