/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.categories-name-ul li{
    margin-right: 20px;
    white-space: nowrap;
}

.categories-name-ul{
    height: 45px;
}

.more-categories-info ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}

.more-categories{
    position: relative;
    cursor: pointer;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 10px;
}

.more-categories-info{
    position: absolute;
    width: 230px;
    background: white;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
            box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
    border-radius: 5px;
    top: 45px;
    z-index: 2;
    padding: 10px 20px;
    text-align: center;
    right: 0;
    display: none;
}

.more-categories:hover .more-categories-info{
    display: block;
}

.category-namee{
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
            box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);

}

.popular-topic-category li{
    margin-right: 10px;
}

.popular-topic-category li a{
    font-size: 18px;
}

.popular-topic-category .active-li-a{
    font-weight: bold;
    border-bottom: 2px solid #3c3b37;
}

.popular-topic-category li:last-of-type{
    margin-right: 0px;
}

.popular-topic-category ul{
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.course-advice{
    font-size: 14px;
}

.text-style{
    font-size: 12px;
    color: #595959;
}

.owl-carousel-most-view .owl-nav .owl-prev, .owl-carousel-most-view .owl-nav .owl-next {
    top: 18%!important;
}

.owl-carousel-advice-topic .owl-nav .owl-next, .owl-carousel-advice-topic .owl-nav .owl-prev {
    top: 29% !important;
}

.tutor-name{
    color: #0f7c90;
    font-size: 14px;
    font-weight: bold;
}

.tutor-lesson{
    font-size: 14px;
    font-weight: bold;
}

.tutor-point{
    color: #c96100;
    font-size: 13px;
}

.tutor-students{
    font-size: 13px;
}

.tutor-students span{
    font-weight: bold;
}

.tutor-course{
    font-size: 13px;
}

.tutor-course span{
    font-weight: bold;
}

.button-filter, .filter-course{
    position: relative;
    font-size: 16px;
    height: 47px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 98px;
    padding: 0px 10px;
    color: #0f7c90;
    background-color: transparent;
    border: 1px solid #2896a9;
    border-radius: 4px;
}

.button-filter button{
    border: none;
    background: white;
    color: #0f7c90;
    font-weight: bold;
}

.filter-course select{
    background: white;
    border: none;
    padding: 0px 10px;
    height: 100%;
    width: 100%;
}

.filter-course{
    padding: 0px !important;
}

.count-coursee{
    color: #73726c;
    font-size: 16px;
    font-weight: bold;
}

.left-side-filter-ul li{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #3c3b37 !important;
    font-weight: bold;
    font-size: 19px;
    padding: 18px 0px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.left-side-filter-ul li:last-of-type{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.left-side-filter-ul{
    padding-right: 40px;
}

.left-side-filter-ul .for-star{
    font-size: 10px !important;
}

.left-side-filter-ul .fa-angle-down-transform{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.left-side-filter-ul .fa-angle-down{
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    -o-transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.left-side-filter-list{
    cursor: pointer;
}

.left-side-filter{
    overflow: hidden;
    -webkit-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

.left-side-filter-none{
    max-width: 0% !important;
    -webkit-box-flex: 0% !important;
        -ms-flex: 0% !important;
            flex: 0% !important;
}

.right-side-courses{
    padding-bottom: 20px;
    border-bottom:1px solid rgba(0,0,0,.1)
}

.right-side-filter-block{
    padding: 0px !important;
    max-width: 100% !important;
    -webkit-box-flex: 100% !important;
        -ms-flex: 100% !important;
            flex: 100% !important;
}

.right-side-filter{
    -webkit-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

.right-side-filter .right-side-courses:first-of-type{
    padding-top: 0px;
}

.right-side-filter .right-side-courses{
    padding-top: 20px;
}

.right-side-filter .right-side-courses:last-of-type{
    border: none;
}

.pagination_wrapper{
    width: 100%;
    text-align: center;
}

.pagination_wrapper .pagination_ul{
    padding-left: 0;
    margin-top: 20px;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pagination-arrow-list a{
    color: #0f7c90;
    background-color: transparent;
    border: 1px solid #2896a9;
    border-radius: 50%;
    padding: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.pagination-arrow-list a i{
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.pagination_ul li{
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.pagination_ul li a{
    color: #0f7c90;
    font-weight: bold;
}

.active_page a{
    color: #094c59 !important;
    border-bottom: 2px solid #094c59;
}

.right-side-filter .course-card-price{
    margin-top: 10px;
}

.exit-icon-left-side-filter{
    display: none;
}

.button-filter-mobile{
    display:none;
}

.count-coursee-mobile{
    display:none;
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
            box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
    padding:0px 10px;
}

.count-coursee-mobile span{
    font-size:16px;
}

.submit-filter-mobile{
    display:none;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 2px 40px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
            box-shadow: 0 2px 40px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
    padding:16px;
    position:fixed;
    bottom:0;
    width:270px;
}

.submit-filter{
    color: white !important;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #0f7c90;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5px;
    padding: 10px 0px;
    margin-top: 5px;
    font-weight: bold !important;
}



@media (min-width: 768px){
    .owl-carousel-most-view .owl-nav .owl-prev, .owl-carousel-most-view .owl-nav .owl-next {
        top: calc(50% - 40px) !important;
    }
    .owl-carousel-most-view .item{
        padding: 10px;
        border:1px solid rgba(0,0,0,.1);
    }
    .owl-carousel-most-view .course-card-price{
        position: absolute;
    }
}

@media (max-width: 767px){
    .owl-carousel-most-view .course-card-image{
        padding: 0px;
    }
    .owl-carousel-most-view .course-card-main{
        padding: 0px;
    }
}

@media (max-width: 1000px){
    .category-namee{
        display: none;
    }
    .right-side-filter{
        max-width: 100%;
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
        padding: 0px !important;
    }
    .left-side-filter-ul{
        padding:10px !important;
        height: calc(100% - 130px);
        overflow:scroll;
    }
    .left-side-filter{
        position: fixed;
        z-index: 1011;
        top: 0;
        background: white;
        -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
                box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
        width: 270px;
        right: -330px;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        height: 100%;
        overflow-y: scroll;
        max-width: 270px;
        -webkit-box-flex:270px;
            -ms-flex:270px;
                flex:270px;
    }
    .exit-icon-left-side-filter{
        position: fixed;
        top: 17px;
        right: -45px;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        background: white;
        padding: 12px 15px;
        border-radius: 50%;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .button-filter-mobile{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }
    .button-filter-desktop{
        display:none;
    }
    .count-coursee-mobile{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }
    .submit-filter-mobile{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    }
    .count-coursee{
        display: none;
    }
}