body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    font-size: 22px;
}

/* =================== HEDAER ================== */

.nav{
    border: 1px solid black;
    height: 70px;
    display: flex;
    background-color: rgb(73, 1, 73);
}

.nav__info{
    justify-content: start;
    display: flex;
    
}

.nav__info *{
    margin: 10px;
    /* border: 1px solid red; */
    color: white;
}

.fa-chevron-left{
    font-size: 28px;
    align-items: center;
}

.nav__functionality{
    margin-left: auto;
    padding: 25px 2px;
    margin-right: 20px;
    margin-top: -10px;
    /* align-items: center; */
    color: white;
    display: flex;
}

.fa-cog{
    /* padding-top: 7px; */
    font-size: 28px;
    align-items: center;
    margin-left: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.nav__functionality--save{
    /* margin-right: 20px; */
    border-radius: 3px;
    background-color: gray;
    color:  rgb(4, 72, 99);
    font-weight: bolder;
    font-size: 18px;
    padding: 10px 10px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: -7px;
    margin-right: 20px;
}

#practice__save, #course__save, #price__save, #promotion__save, #message__save{
    display: none;
}




/* ======================== MAIN =================== */

.main{
    display: grid;
    grid-template-columns: 17% 83%;
    /* grid-column-gap: 50px; */
    margin: 50px 0;
}


/* ========================= SIDEBAR ================= */
.publish{
    background-color: rgb(253, 52, 16);
    padding: 20px 20px;
    text-align: center;
    color: white;
}

.sidebar{
    margin-left: 50px;
    margin-top: 50px;
    background-color: red;
    padding: 0 20px;
    width: 100%;
    background-color: whitesmoke
}
.side{
    padding: 15px 0;
}

.side:hover{
    background-color: lightgray;
}

.sidebar div{
    display: flex;
}



#target, #practice, #course, #price, #promotion, #message{
    margin-bottom: 10px;
    cursor: pointer;
    padding: 0 20px;
}

.fa-circle, .fa-check-circle{
    /* padding-top: 10px; */
    margin-right: 10px;
    font-size: 22px;
}

.fa-check-circle{
    display: none;
}

.fa-circle{
    display: block;
    margin-right: 20px;
}

.side__title{
    font-weight: lighter;
    font-size: 20px;
}


/* ======================= CONTENT =================== */

.content{
    margin-left: 60px;
    background-color: white;
    width: 93%;
    border-radius: 10px;
    box-shadow: -10px 10px 10px lightgray;

}

/* ====================== TARGER STUDENTS CONTENT ================ */

.target__students--content{
    display: block;
}

.container{
    padding: 40px 50px;
}

.title{
    margin-left: 20px;
    
    font-weight: lighter;
    padding: 20px;
}


.description__paragraph{
    margin-bottom: 50px;
}

#input__parent--first{
    display: flex;
}

#input__parent--second{
    display: flex;
}

#input__parent--third{
    display: flex;
}

.answer{
    width: 95%;
    margin-bottom: 20px;
}

.fa-trash-alt{
    cursor: pointer;
    color: blue;
    display: none;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 5px;
}

.add__answer{
    display: flex;
    margin-bottom: 40px;
    color: rgb(7, 7, 243);
    cursor: pointer;
}

.fa-plus{
    padding-top: 7px;
    margin-right: 10px;
    font-size: 20px;
}

/* ================== PRACTICE TEST =============== */
.practice__test--content{
    display: none;
}



/* ================== COURSE LANDING =============== */
.course__landing--content{
    display: none;
}

.landing__input{
    border: 1px solid black;
    display: flex;
    width: 95%;
    padding: 5px 0px;
}

.input{
    border: none;
    width: 95%;
}

.input__length{
    margin-left: auto;
    margin-right: 10px;
    border: 1px solid black;
    padding: 10px;
    background-color: lightgray;
    color: rgb(68, 67, 67);
}

.menu__bar{
    display: flex;
    width: 1242px;
    border: 1px solid black;
}

.option{
    padding: 20px 0;
    width: 350px;
    display: flex;
    border-radius: 1%;
    border: 1px solid black;
    cursor: pointer;

}

.language{
    height: 17px;
}

.level{
    height: 17px;
}

.select__element{
    margin-left: 10px;
}

.select_element{
    margin-left: 10px;
}

.fa-chevron-down{
    margin-left: auto;
    padding: 2px;
    margin-right: 17px;
    color: black;
}

.categories{
    border: 1px solid darkblue;
    background-color: rgb(49, 47, 47);
    display: none;
    width: 350px;
}

#categories{
    width: 100px;
}

.language__category, .level__category, .top__category, .sub__category{
    padding: 10px 0 10px 10px;
    color: whitesmoke;
}

.level-form, .lang-form{
    width: 100px;
}

.sub__category{
    width: 350px;
    padding: 18px 0;
}

#selected__sub--element{
    color: black;
}

.cat{
    color: white;
    padding-left: 30px;
}

.cat:hover{
    background-color: gray;
    cursor: pointer;
}

.menu__bar i{
    font-size: 30px;
    margin: 0 10px 0 0;
    padding: 15px;
}

.menu__bar i:hover{
    background-color: lightseagreen;
    color: whitesmoke;
}

.info__options{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.info__categories{
    display: flex;
    flex-direction: column;
}

.info__categories div{
    margin: 0 0 10px 0;
}


.teach__context--input{
    width: 550px;
    padding: 15px 10px;
}

.upload__image{
    padding: 50px;
    display: flex;
}



.upload__functionality{
    padding: 45px;
}

.upload__video{
    padding: 50px;
    display: flex;
}

.upload__file{
    display: flex;
}

#file{
    width: 400px;
    border: 1px solid black;
}

#file p{
    margin-left: 10px;
}

.upload__file span{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    color: lightseagreen;
    font-size: 22px;
    font-weight: bolder;
}

.instructor{
    padding-left: 50px;
}

.instructor__profile{
    display: flex;
}

.fa-user-circle{
    font-size: 50px;
    color: lightseagreen;
    margin-right: 15px;
    margin-top: -5px;
}

.instructor__profile p{
    color: lightseagreen;
    font-weight: lighter;
}

/* ===================== PRICING CONTENT =============== */

.pricing--content{
    display: none;  
}

.pricing__currency{
    display: flex;
    margin-top: 50px;
}

.currency{
    width: 100px;
    margin-right: 30px;
}

.currency_form{
    width: 100px;
}

.currency span{
    margin: -5px 5px -5px 10px;
    color: lightseagreen;
    font-size: 26px;
    font-weight: bolder;
}

.cost span{
    color: lightseagreen;
    font-size: 26px;
    font-weight: bolder;
    margin: -5px 0 -5px 5px;
}

.save{
    border-radius: 3px;
    background-color: gray;
    color:  rgb(4, 72, 99);
    font-weight: bolder;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    cursor: pointer;
    height: 50px;
    margin-left: 10px;
    /* margin-top: -7px; */

}

/* ======================= PROMOTIONS CONTENT ================= */

.promotions--content{
    display: none;
}

.refer__students{
    padding: 30px;
    background-color: rgb(182, 238, 235);
}

.promotion__input{
    display: flex;
}

#link{
    font-size: 20px;
    margin-top: 20px;
}

.promotion__input--value{
    width: 85%;
    height: 70px;
    background-color: white;
}

.promotion__input--value p{
    padding: 0 15px;
}

.copy{
    margin-left: 20px;
    margin-top: 0%;
    background-color: white;
    color: darkgreen;
    padding: 22px
}

.coupons{
    margin-top: 80px;
}

.coupon__info{
    border: 1px solid black;
}

.coupon__info h2{
    font-weight: lighter;
    color: rgb(99, 96, 96);
}

.active__coupons{
    margin-top: 80px;
}

.active__coupon--info{
    border: 1px solid black;
}

.active__coupon--info h2{
    font-weight: lighter;
    color: rgb(99, 96, 96);
    text-align: center;
}

.expire__coupons{
    margin-top: 80px;
}

.expire__coupons--info{
    /* border: 1px solid black; */
    display: flex;
}



.expire__coupons--input{
    margin-left: auto;
    margin-top: 17px;
    margin-right: 20px;
}

.expire__input{
    width: 300px;
    padding: 17px;
    margin-right: 0;
}

.fa-search{
    margin-left: -5px;
    background-color: rgb(32, 149, 178);
    padding: 20px;
    color: white;
}

.expire__coupon--info{
    border: 1px solid black;
    margin-top: 20px;
}

.expire__coupon--info h2{
    font-weight: lighter;
    color: rgb(99, 96, 96);
    text-align: center;
}

/* ===================== COURSE MESSAGE CONTENT =================== */

.course__message--content{
    display: none;
}

.message__div{
    display: flex;
}

.text__counter{
    margin-top: 10px;
    margin-left: -50px;
    background-color: lightgray;
    color: rgb(68, 67, 67);
    height: 35px;
    padding: 5px 5px 0 5px;
}


/* ========================== SETTINGS PAGE ================ */
.unpublish{
    display: flex;
}

.unpublish__button{
    padding: 10px 80px;
    margin-right: 30px;
    background-color: whitesmoke;
    color: rgb(168, 166, 166);
}

.unpublish p:nth-child(even){
    margin-top: 10px;
}

.delete{
    display: flex;
    width: 100%;
}

.delete__div{
    background-color: white;
    color: red;
    border:2px solid red;
    height: 60px;
    width: 255px;
}

.delete__button{
    text-align: center;
    line-height: 60px;
}

.delete p:nth-child(even){
    margin-top: 10px;
    margin-left: 30px;
}

.form-select{
    width: 650px;
}

.save__button{
    background-color: rgb(4, 104, 99);
    padding:10px;
    margin-top: 20px;
    display: inline-block;
    font-size: 18px;
    color: white;

}

.first__flex{
    display: flex;
}

.first__flex p:first-child{
    margin-left: 0px;
}

.first__flex p{
    margin: 0 30px;
}

.second__flex{
    display: flex;
}





.second__flex p{
    margin-left: 0px;
    margin-right: 50px;
    text-align: left;
}


#c1{
    margin-right: 130px;
}

#c2{
    margin-right: 130px;
}


#c3{
    margin-right: 145px;
}

#c4{
    margin-right: 130px;
}

#c5{
    margin-right: 130px;
}

#c6{
    margin-right: 150px;
}

.input__flex{
    display: flex;
}

.add__input{
    width: 95%;
    height: 50px;
}

.input__flex span{
    padding: 10px;
    background-color: lightgray;
    color: gray;
}