body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: sans-serif;
}

/* =========== HEADER ============= */

.header{
    display: flex;
    height: 80px;
    border-bottom: 2px solid black;
}

.header__logo{
    font-size: 45px;
    padding: 0 40px;
    border-right: .5px solid black;
}

.header__logo h2{
    /* margin-top: 20px; */
    font-size: 60px;
    font-weight: bolder;
}

.step__counter{
    padding: 25px 0;
    margin-top: 0;
    margin-left: 20px;
    color: #686f7a;
    font-size: 20px;
}

.step__counter *{
    margin-top: 0;
}

.exit{
    margin-top: 0;
    margin-left: auto;
    margin-right: 30px;
    font-weight: bolder;
    color: #007791;
    font-size: 30px;
    padding: 25px 0;
    
}

.progress__bar{
    margin-top: 0px;
    background-color: gray;
    height: 9px;
    width: 25%;
    box-sizing: content-box;
    border-radius: 0 3px 3px 0; 
}


/* =============== FIRST STEP PAGE =============== */

.first__step{
    display: block;
}

.step__title{
    text-align: center;
    margin: 75px 0;
}

.cart *{
    font-size: 20px;
}

.first__step--carts{
    display: flex;
    margin: auto;
    max-width: 700px;
}

.first__step--carts *{
    text-align: center;
    margin: auto;
}

.first__step--carts div{
    margin: 0 20px;
    border-radius: 1%;
    border: 1px solid lightgray;
    color: grey;
    width: 300px;
    height: 350px;
    margin: auto;
    padding:30px;
    cursor: pointer;
}

.first__step--carts div:hover{
    border-color: gray;
    color: black;
}



.logo{
    font-size: 50px;
    margin:15px 0
}

.cart__title{
    margin: 10px 0;
}

.cart__description{
    margin: 20px 0;
}



/* =============== SECOND STEP PAGE ========== */

.second__step{
    display: none;
}

.step__description{
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
}

.input__div{
    display: flex;
    width: 650px;
    margin: auto;
    border-radius: 1%;
    border: 1px solid black;
    padding: 5px;
}

.input{
    border: none;
    width: 600px;

}

.input__length{
    padding: 10px;
    border: 1px solid black;
    background-color: lightgray;
}


/* =================== THIRD STEP PAGE ============= */

.third__step{
    display: none;
}

.select{
    width: 650px;
    margin: auto;
}

.selected__category{
    padding: 20px 0;
    width: 650px;
    display: flex;
    border-radius: 1%;
    border: 1px solid black;
    margin: auto;
    cursor: pointer;
}

.select__element{
    margin-left: 10px;
}

.fa-chevron-down{
    margin-left: auto;
    padding: 2px;
    margin-right: 17px;
}

.categories{
    border: 1px solid darkblue;
    background-color: rgb(49, 47, 47);
    display: none;
}

.select__category{
    padding: 10px 0 10px 10px;
    color: whitesmoke;
}

.select__category:hover{
    background-color: gray;
    cursor: pointer;
}


/* ============== FOURTH STEP PAGE ============== */

.fourth__step{
    display: none;
}

.test{
    width: 600px;
    margin: auto;
    padding: 10px;
    margin-top: 80px;
    
    
}

.test__variants{
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    margin: 0 0 15px 0;
}

.radio{
    color: blue;
}

.label{
    margin-left: 10px;
    
}

/* ================ FOOTER ============ */

.bgColor{
    background-color: #ec5252;
    color: white;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 10px;
    border-top: 1px solid black;
    height: 100px;
    background-color: white;
}

.continue{
    border-radius: 3px;
    margin-left: auto;
    background-color: gray;
    color:  rgb(4, 72, 99);
    font-weight: bolder;
    font-size: 25px;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: -7px;
    margin-right: 20px;
    cursor: pointer;
    
}

.previous{
    display: none;
    border-radius: 3px;
    margin-left: 20px;
    background-color: gray;
    color:  rgb(4, 72, 99);
    font-weight: bolder;
    font-size: 25px;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: -7px;
    margin-right: 20px;
    cursor: pointer;
}


